<!doctype html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>MarkedList</title>
  <style>
    .marked {
      color: #efc14e;
    }
  </style>
</head>
<body>


<div id="app">
  <!--<input type="text" value="" v-model="searchValue" :value="value">-->
  <input type="text" value="" v-model="searchValue">
  <ul>
    <!--<li v-for="item in matchedEmails" :class="{ marked: !!checkMatch(item) }">{{ item }}</li>-->
    <li v-for="item in matchedEmails" :class="{ marked: !!item.marked }">{{ item.name }}</li>
  </ul>
</div>

<script type="module" src="script.js"></script>
</body>
</html>
